annals
models
runs

#*
#!.gitignore
#!sourceCode/
#!sourceCode/**

#!sourceCode/**/*.py
#!sourceCode/**/**.py
#!sourceCode/*/*/**.py

**/_trash/
**/.ipynb_checkpoints/
**/*.out
**/__pycache__/


iglo.egg-info/
numerical_analysis/
numerical_analysis_for_submission/
