annals
models
runs
iglo_repo
iglo_bak_before_JMLR_revision
#*
#!.gitignore
#!sourceCode/
#!sourceCode/**

#!sourceCode/**/*.py
#!sourceCode/**/**.py
#!sourceCode/*/*/**.py

**/_trash/
**/.ipynb_checkpoints/
**/*.out
**/__pycache__/


iglo.egg-info/
numerical_analysis/
numerical_analysis_for_submission/
iglo_repo/

dist/
build/

JMLR_revision_experiment
iglo/worktree_maker.init

nonmanp_numerical_analysis_for_submission
